@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Black.woff2) format(woff2);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Light.woff2) format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Light.woff2) format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../images/icomoon/fonts/icomoon.eot?c1acev');
  src:  url('../images/icomoon/fonts/icomoon.eot?c1acev#iefix') format('embedded-opentype'),
    url('../images/icomoon/onts/icomoon.ttf?c1acev') format('truetype'),
    url('../images/icomoon/fonts/icomoon.woff?c1acev') format('woff'),
    url('../images/icomoon/fonts/icomoon.svg?c1acev#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


