@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Black.woff2) format(woff2);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Light.woff2) format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Medium.woff2) format(woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Light.woff2) format(woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../images/img-header/Logout/fonts/icomoon.eot?44f1y4');
  src:  url('../images/img-header/Logout/fonts/icomoon.eot?44f1y4#iefix') format('embedded-opentype'),
    url('../images/img-header/Logout/fonts/icomoon.ttf?44f1y4') format('truetype'),
    url('../images/img-header/Logout/fonts/icomoon.woff?44f1y4') format('woff'),
    url('../images/img-header/Logout/fonts/icomoon.svg?44f1y4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}