@import 'variables',
        'font';


@mixin flex { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 0;
}

@mixin font-face ($weight: $bold) {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Regular.woff2) format(woff2);
  font-weight: $weight;
  font-style: normal;
}