@import 'variables',
        'font';


@mixin flex ($fd: row, $wr: nowrap, $jc: center, $ac: center ){ 
    display: flex;
    flex-direction: $fd;
    flex-wrap: $wr;
    justify-content: $jc;
    align-content: $ac;
    
}



@mixin font-face ($weight: $bold) {
  font-family: "Cera Pro";
  src: url(../Fonts/CeraPro/CeraPro-Regular.woff2) format(woff2);
  font-weight: $weight;
  font-style: normal;
}