$body_color: #FFFFFF;
$main_color: #FBFBFB;
$element_color: #46A358;
$menu_color: #EDF6EE;
$text_color: #3d3d3d;

//  / FONT weights / 

$light:300;
$medium:500;
$regular:400;
$bold: 700; 
$black:900;
