

@import 'variables',
        'reset',
        'mixin',
        'font';



body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0 120px;
}

/* header */

.header {
  // @include flex (column, wrap, end, center);
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: fit-content;
  position: sticky;
  z-index: 10;
  top: 0;

  padding: 26px 0 0;
  margin-bottom: 12px;
  border-bottom: 1px solid #c5dfca;
  background-color: $main_color;

  .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25%;
    flex-grow: 1;

    li {
      padding: 8px 0 25px;
      text-wrap: nowrap;
      @include font-face($light, 16px);
      
      text-decoration: none;
      cursor: pointer;
    }

    li:hover {
      padding: 8px 0 22px;
      @include font-face($bold, 16px);
      border-bottom: 3px solid $element_color;
      opacity: 1;
    }

    li:nth-child(3) {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    li:nth-child(3):hover > .menu {
      display: block;

      
    }

    .menu {
      display: none;
      padding-top: 12px;
      position: absolute;
      z-index: -1;

      top: 53px;
      left: -56px;

      /* border: 1px solid black; */

      li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: $menu_color;
      padding: 7px 17px 8px 14px;
      color: $text_color;
      @include font-face ($regular);
    }

    li:hover {
      color: $body_color;
      @include font-face($bold);
      background-color: $element_color;
    }

    li:nth-child(4) {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 100%;
      gap: 82px;

      justify-content: space-between;
      padding: 7px 17px 8px 14px;
      color: $text_color;
      @include font-face ($regular);

      svg {
        opacity: 0;
        position: absolute;
        top: 12px;
        right: 20px;
      }

      ul {
        display: none;
        position: absolute;
        width: 100%;
        top: -105px;
        left: 178px;
        padding-left: 5px;

        li {
          background-color: $menu_color;
          color: $text_color;
          @include font-face($regular);
          padding: 7px 14px 8px 14px;
        }

        li:hover {
          color: $body_color;
          @include font-face($bold);
          background-color: $element_color;
        }
      }
    }

    li:nth-child(4):hover {
      color: $body_color;
      @include font-face($bold);
      background-color: $element_color;

      img {
        opacity: 0;
      }

      svg {
        opacity: 1;
      }

      ul {
        display: block;
      }
    }
    }

    
  }

  .green_line {
    background-color: $element_color;
    width: max-content;
    height: 3px;
  }

  .but {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;

    .lupa {
      width: 20px;
      height: 20px;
    }

    .basket {
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      padding: 2px 5px 0 2px;

      img {
        width: 24px;
        height: 24px;
      }
    }

    .basket-number {
      display: flex;
      justify-content: center;
      align-content: center;
      position: absolute;
      top: 1px;
      right: -5px;
      box-sizing: content-box;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      color: $body_color;
      @include font-face($medium, 10px);
      background-color: $element_color;

      border: $body_color solid 2px;
    }

    .Login {
      display: flex;
      align-items: center;
      height: fit-content;
      padding: 8px 17px;
      gap: 4px;
      border-radius: 6px;
      background: $element_color;
      color: $body_color;
      @include font-face($medium);
      cursor: pointer;
    }
    
    #logout {
      width: 16.278px;
      height: 15.417px;
      flex-shrink: 0;
    }
  }

}

/* banner */

.banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 46px;
  background-color: #f5f5f580;

  .body {
    display: flex;
    flex-direction: column;
    padding: 68px 93px 93px 40px;

    h1 {
      color: $text_color;
      @include font-face($regular, 14px);
      letter-spacing: 1.4px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }

    h2 {
      color: $text_color;
      @include font-face($black, 70px, 70px);
      text-transform: uppercase;
      margin-bottom: 5px;
      max-width: 530px;

      span {
        color: $element_color;
        @include font-face($black, 70px, 70px);
        text-transform: uppercase;
      }
    }

    h3 {
      color: $text_color;
      @include font-face($regular, 14px, 24px);
      margin-bottom: 44px;
      max-width: 557px;
    }

    button {
      width: fit-content;
      padding: 10px 27px;
      color: $body_color;
      @include font-face($bold, 16px, 20px);
      text-transform: uppercase;
      border-radius: 6px;
      background: $element_color;
      cursor: pointer;
    }


  }

  .images {
    display: flex;
    position: relative;

    .big_plant {
      width: 100%;
      max-width: 518px;
      height: auto;

      object-fit: contain;
    }

    .small_plant {
      width: 100%;
      max-width: 135px;

      flex-shrink: 0;
      position: absolute;
      /* z-index: 1; */
      left: 11%;
      bottom: 8%;
    }
  }
}

.main {
  display: flex;
  margin-bottom: 90px;
  gap: 50px;

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 14px 24px 0 18px;
    background: $main_color;

    .nav2 {
      display: flex;
      flex-direction: column;
      margin-bottom: 36px;
      gap: 7px;

      h2 {
        color: #3d3d3d;
        @include font-face($regular, 18px, 16px);
        line-height: 16px;
      }

      ul {
        margin-left: 12px;

        li {
          display: flex;
          justify-content: space-between;
          text-wrap: nowrap;
          color: $text_color;
          @include font-face($regular, 15px, 40px);
        }

        li:first-of-type {
          color: $element_color;
          @include font-face($bold, 15px, 40px);
        }


      }

    }

    .price {
      display: flex;
      flex-flow: column wrap;
      margin-bottom: 46px;

      .range-title {
        color: $text_color;
        @include font-face($regular, 18px, 16px);
        margin-bottom: 20px;
      }

      .range-slider {
        display: flex;
        position: relative;
        height: fit-content;

        input {
          width: 100%;
          max-width: 200px;
          height: 5px;
          margin-left: 12px;
          background-color: $element_color;
          appearance: none;
          margin-bottom: 15px;
        }

        input::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          box-sizing: content-box;
          border: 2px solid white;
          background-color: $element_color;
          appearance: none;
        }

        .round {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          box-sizing: content-box;
          border: 2px solid white;
          background-color: $element_color;
          position: absolute;
          top: -7px;
        }
      }

      h4 {
        color: #3d3d3d;
        @include font-face($regular, 15px, 16px);

        span {
          color: $element_color;
          @include font-face($bold, 18px, 16px);
        }
      }

      button {
        display: flex;
        margin-top: 20px;
        color: $body_color;
        @include font-face($bold, 16px, 20px);
        padding: 8px 25px;
        border-radius: 6px;
        cursor: pointer;
        width: fit-content;
        background-color: $element_color;
      }
    }

    .nav3 {
      display: flex;

      flex-direction: column;

      margin-bottom: 18px;

      gap: 7px;

      h2 {
        color: $text_color;
        @include font-face($regular, 18px, 16px);
      }

      ul {
        margin-left: 12px;

        li {
          display: flex;
          justify-content: space-between;
          text-wrap: nowrap;
          color: #3d3d3d;
          @include font-face($regular, 15px, 40px);
        }
      }
    }

    .img {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      background: linear-gradient(
        180deg,
        rgba(70, 163, 88, 0.1) 0%,
        rgba(70, 163, 88, 0.03) 100%
      );

      .img-SuperSale {
        margin: 0 22px;
      }

      span {
        color: #3d3d3d;
        text-align: center;
       @include font-face($regular, 23px, 16px);
        margin: 11px 50px -6px;
      }
    }
 }

 .content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .header-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 38px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 37px;

      li {
        color: $text_color;
        @include font-face($regular, 15px, 16px);
        text-wrap: nowrap;
        padding-bottom: 7px;
      }

      li:first-child {
        color: $element_color;
       @include font-face($bold, 15px, 16px);
        border-bottom: 2px solid $element_color;
      }
    }

    span {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }

    #Shortby {
      display: flex;
      flex-wrap: nowrap;
      color: $text_color;
      @include font-face($regular, 15px, 16px);
    }

    #select {
      color: $text_color;
      @include font-face($regular, 15px, 16px);
      cursor: pointer;
    }

    #select:hover {
      color: #3d3d3d;
    }
  }

  .catalog {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;

    width: 100%;
    gap: 30px 70px;

    .cart {
      display: flex;
      flex-direction: column;
      justify-content: end;

      /* border: 1px solid black; */

      .cart_img {
        display: flex;
        justify-content: center;
        align-content: center;

        flex-grow: 1;

        height: 300px;
        width: 258px;

        padding-inline: 4px;
        position: relative;
        background-color: $main_color;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
          background-color: url(<path-to-image>) lightgray 50% / cover no-repeat;
          mix-blend-mode: multiply;
        }

        .sale {
          position: absolute;
          z-index: 2;
          left: 4px;
          top: 34px;
          color: $body_color;
          @include font-face($medium, 16px, 16px);
          background-color: $element_color;
          padding: 6px 9px;
        }

        .hidden_cart_img {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          opacity: 0;
          object-fit: contain;
          border-top: 2px solid $element_color;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          align-items: end;
          gap: 26px;
          padding-bottom: 7px;

          #basket {
            width: 20px;
            height: 20px;
            color: $element_color;
          }

          #heart {
            width: 20px;
            height: 20px;
          }

          #frame {
            width: 20px;
            height: 20px;
          }
        }

        .hidden_cart_img:hover {
          opacity: 1;
        }
      }

      .info-cart {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 0;
        gap: 6px;

        .name {
          color: $text_color;
          @include font-face($regular, 16px, 16px);
        }

        .price {
          color: $element_color;
          @include font-face($regular, 18px, 16px);
          padding: 0;
        }
      }
    }
  }
}
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: end;
  margin-bottom: 101px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;

      flex-shrink: 0;
      color: $text_color;
      @include font-face($regular, 18px, 16px);

      border-radius: 4px;
      border: 1px solid #e5e5e5;
      color: #3d3d3d;
      @include font-face($light, 18px, 16px);
      cursor: pointer;
    }

    li:first-child {
      color: $body_color;
      @include font-face($bold, 18px, 16px);
      background-color: $element_color;
    }
  }
}


/* Block preposition */

.preposition {
  
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column wrap;
  /* border: 1px solid #3d3d3d; */
  gap: 138px;

  .action {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .action-cart {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      max-width: 586px;
      min-height: 250px;
      height: 100%;
      position: relative;

      img {
        position: absolute;
        bottom: 10px;
        z-index: 1;

        max-width: 287px;
        max-height: 292px;
        flex-shrink: 0;
        background-color: url(<path-to-image>) lightgray -5px 0px / 101.742% 100% no-repeat;
        mix-blend-mode: multiply;
      }

      .action-cart-content {
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        align-items: end;
        text-align: end;
        padding: 29px 30px 37px 264px;
        background-color: $main_color;
        /* border: 1px solid ; */

        h2 {
          color: $text_color;
          text-align: right;
          @include font-face($black, 18px, 24px);
          text-transform: uppercase;
          max-width: 150px;
          height: fit-content;
          margin-bottom: 9px;
        }

        h3 {
          color: #727272;
          text-align: right;
          @include font-face($regular, 14px, 24px);
          max-width: 292px;
          margin-bottom: 25px;
        }

        button {
          display: flex;
          flex-direction: row;
          color: $body_color;
          @include font-face($medium, 14px, 20px);
          background-color: $element_color;
          gap: 5px;
          padding: 11px 27px;
          align-items: center;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }

  .blog {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    h2 {
      color: #3d3d3d;
      text-align: center;
      @include font-face($bold, 30px, 16px);
      margin-bottom: 15px;
      text-transform: capitalize;
    }

    h3 {
      color: #727272;
      text-align: center;
     @include font-face($regular, 14px, 24px);
      line-height: 24px; /* 171.429% */
    }

    .blog-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;

      .blog-cart {
        display: flex;
        flex-direction: column;
        max-width: 268px;
        align-items: start;
        background-color: $main_color;
        margin-top: 35px;

        .blog-cart img {
          width: 100%;
          max-height: 195.174px;
          flex-shrink: 0;
          margin-bottom: 8px;
        }

        .blog-cart-content {
          display: flex;
          flex-direction: column;
          padding: 9px 31px 12px 15px;

          h4 {
            color: $element_color;
            @include font-face($medium, 16px, 16px);
            margin-bottom: 4px;
          }

          h5 {
            color: #3d3d3d;
            @include font-face($bold, 20px, 26px);
            margin-bottom: 4px;
          }

          h6 {
            color: #727272;
            @include font-face($regular, 14px, 22px);
            margin-bottom: 4px;
          }

          button {
            display: flex;
            flex-direction: row;
            align-items: end;
            color: $text_color;
            @include font-face($medium, 14px, 16px);

            background-color: $body_color;

            cursor: pointer;

            span {
              display: flex;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}



