@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yvph34');
  src:  url('fonts/icomoon.eot?yvph34#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yvph34') format('truetype'),
    url('fonts/icomoon.woff?yvph34') format('woff'),
    url('fonts/icomoon.svg?yvph34#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ArrowDown:before {
  content: "\e901";
  
}
.icon-Logout-1:before {
  content: "\e900";
}
