@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8vc7ps');
  src:  url('fonts/icomoon.eot?8vc7ps#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8vc7ps') format('truetype'),
    url('fonts/icomoon.woff?8vc7ps') format('woff'),
    url('fonts/icomoon.svg?8vc7ps#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Facebook-Header:before {
  content: "\e900";
  color: #b3b3ba;
}





.icon-Facebook-Header {
  display:none;
}




@media screen and (min-width:375px) {
    
  .icon-Facebook-Header {
    display:inline;
    
  }

  .icon-Facebook-Header:hover {
    color: black;
  }
}