h1 {
  font-size: 35px;
  margin: 0px;
}

h2 {
  font-size: 15px;
  margin: 10px;
}

body {
  background-color: antiquewhite;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
}

.menu {
  padding-inline: 50px;
  color: black;
}

/* body */

.body {
  display: flex;
  flex-direction: row;
  padding: 25px;
}
/* left_side */

.left_side {
  background-color: white;
  text-align: center;
  width: 30%;
  padding: 10px;
  border-radius: 25px;
}
.icons {
  width: 25px;
  margin: 25px;
}

.photo {
  width: 50%;
  margin: 20px;
  border-radius: 25px;
}

/* right side */

.right_side {
  width: 70%;
  background-color: white;
  margin-inline: 25px;
  border-radius: 25px;
  padding: 25px;
}

/* works */
.img-works {
  width: 90%;
  height: 400px;
}

.body-works {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* contacts */

.contacts {
  padding-inline: 50px;

  width: 400px;
}
