@import 'variables',
        'fonts';

@mixin font-bold($size:18px, $height:normal, $color:black) {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat_Plus_Jakarta_Sans/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: $bold;
    font-style: normal;
    font-size: $size;
    line-height: $height;
    color: $color;

}

@mixin font-regular($size:18px, $height:normal, $color:black) {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat_Plus_Jakarta_Sans/Montserrat/static/Montserrat-Bold.ttf);
    font-weight: $regular;
    font-style: normal;
    font-size: $size;
    line-height: $height;
    color: $color;
}


@mixin flex($dir:row, $wrap:wrap) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
}



