@import 'reset',
        'variables',
        'mixin',
        'fonts';

header {
    @include flex(column);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    
    
    .contacts {
        @include flex (row, wrap);
        justify-content: space-between;
        width: 100%;
        padding: 10px 15px;
        align-items: center;
        background: rgba(245, 245, 250, 0.20) ;
        
        background-clip: padding-box;

        .lang {
            @include flex (row, nowrap);
            

            &__item {
                display: inline-block;
                @include font-bold (12px,normal, white);
                width: fit-content;
                padding: 5px 7px;

                &--focused {
                display: inline-block;
                @include font-bold (12px,normal, white);
                background-color: $color-accent ;
                border-radius: 8px;
                width: fit-content;
                padding: 5px 7px;
                }

            }

            
        }

        #point {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color-grey_text;
        }

        #point {
            display: none;
        }

        

        & > .street {
            @include font-regular (16px, normal, $color-grey_text);
        }

        & > .street {
            display: none;
        }

        .adress {
            display: inline-block;
            @include font-bold (16px, normal, white);

        }

        & > svg {
            display: none;
        }



    }

    .menu {
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        

        .logo {
            @include flex(row);
            align-items: start;
            padding: 15px 0 10px;
            gap: 4px;

            &-img {
                @include flex(column);
                
                gap: 3px;

                .logo__name {
                    width: 70px;
                    height: 32px;
                }

                .logo__subname {
                    width: 70px;
                    height: 4px;
                }
            }

            &__slash {
                display: block;
                top: 0;
                right: -17px;
                
            }

            &__nav--mobile {
                display: inline-block;
                @include font-regular(20px, normal, white);
                
            }

            &__nav {
                display: none;
            }

        }

        
    }
}
.main {
    @include flex(column);
    width: 100%;
    position: relative;
    padding: 0 30px 80px
    
    
}


.banner {
    
    height: 600px;
    @include flex(column);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 231px;
    padding-bottom: 30px;
    margin: 0 -30px;
    background-clip: padding-box;
    background-blend-mode: multiply;
    background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='287' height='345' viewBox='0 0 287 345' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.064 0.318359H174.467C214.8 0.318359 248.461 17.5241 269.391 46.5988C290.305 75.6751 290.951 124.19 278.755 162.144L263.162 210.599C256.65 230.831 226.159 326.514 220.213 344.999H143.617C143.617 344.999 144.788 346.025 208.773 147.127C214.423 129.575 217.649 101.083 208.773 88.7615C199.914 76.4412 184.964 69.1495 165.182 69.1495H50.4146C27.8796 69.1495 7.90936 83.806 0.937988 105.454L34.064 0.318359Z' fill='url(%23paint0_linear_173519_94)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173519_94' x1='241.857' y1='344.999' x2='51.629' y2='133.006' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") bottom 0 left 77.94px,
                url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='267' height='600' viewBox='0 0 267 600' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.601656 600H-74.2773C-10.547 399.881 53.9069 199.998 118.014 0H192.79C192.475 1.00023 192.156 2.00313 191.832 3.0086C88.1019 322.175 123.486 214.391 0.601656 600Z' fill='%23F0145A'/%3E%3C/svg%3E") bottom 0 left 0;
    background-repeat: no-repeat;
    

    & > h1 {
        @include font-bold(38px, normal, white);
        display: inline-block;
        // padding: 0 30px;
        max-width: 200px;
    }
    
    
}
.content {
    @include flex (column);
    
    
    width: 100%;

    &-block {
        @include flex (column);
        width: 100%;
        padding: 30px 0 ;
        

        &__menu {
            @include flex (row, nowrap);
            
            max-width: 100%;
            overflow: auto;
            gap: 30px;
            padding-bottom: 30px;
            border-bottom: 4px solid  rgba(255, 255, 255, 0.30);
        }

        &__menu::-webkit-scrollbar {
            display: none;
        }

        &__item {
            display: inline-block;
            text-wrap: nowrap;

            input {
                display: none;
            }

            
        }

        &__name {
            display: inline-block;
            width: fit-content;
            @include font-bold (30px, normal, $color-grey_text);
            text-wrap: nowrap;

            &--active {
                @include font-bold (30px, normal, transparent);
                background: $gradient-regular_redtext;
                background-clip: text;
                
            }

            &:hover {
                @include font-bold (30px, normal, $color-accent);
                
            }
        }
        

        &__text {
            @include flex (column, nowrap);
            padding-top: 30px;
            gap: 30px;
            
            & > h2 {
                @include font-bold (20px, normal, white);
            }

            & > p {
                @include font-regular (19px, 30px, white);
            }
        }
    }

    &-icons {
        @include flex (row);
        width: 100%;
        padding-top: 30px;

        @import 'inheader';

        

        .icon-item {
            @include flex (column);
            align-items: start;
            padding-top: 30px;
            gap: 30px;

            &__img {
                width: 92px;
                height: 92px; 
                background-color: white;
                border-radius: 24px;
                position: relative;

                & > img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            &__txt {
                    @include flex (column);
                    gap: 15px;

                    &-header {
                        @include font-bold(22px, normal, $color-active_regular);
                        text-wrap: wrap;
                    }

                    &-p {
                        @include font-regular (16px, 26px, white);
                        text-wrap: wrap;
                    }

            }
        }

        
    }
}
.bg {
    @include flex(column);
    
    position: absolute;
    left: 0;
    z-index: -1;
    top:0;
    width: 100%;
    height: 100%;
    
    

    &__1 {
        @include flex (column);
        flex-grow: 2;
        width: 100%;
        background: $gradient-regular;
        background-attachment: fixed;
        border-radius: 0 0 12px 12px;
    }

    &__2 {
        
        width: 100%;
        padding-inline: 20px;
        height: 10px;

        &-color{
            width: 100%;
            height: 100%;
            background-color: #CACADB;
            border-radius: 0 0 12px 12px;
        }
        
        
        
        
    }

    &__3 {
        
        width: 100%;
        padding-inline: 40px;
        height: 10px;

        &-color{
            width: 100%;
            height: 100%;
            background-color: #E7E7F2;
            border-radius: 0 0 12px 12px;
        }
        
        
        
        
    }
}

.photo-block {
    
    width: 100%;
    
    padding: 30px 30px 60px;

    &__img {
        width: 100%;
        height: 500px;
        background: url(./images/index/footer/234600cc4c22f391feac373545e617135d41714b.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 12px 12px 0 0;
    }

    &__content {
        @include flex (column);
        align-items: start;
        padding: 30px;

        @import 'inheader';

        
        

        & > h2 {
            display: inline-block;
            padding: 30px 0 6px;
            @include font-bold (16px, normal, $color-grey_text);
            
            word-break: break-word;
        }

        & > span {
            @include font-regular (14px, 22px, $color-grey_text);
        }
        

        
    }

    &__nav {
        @include flex(row, nowrap);
        width: 100%;
        padding-top: 30px;
        justify-content: center;
        gap: 10px;

        & > label {
            @include flex (row);

            & > input {
                display: none;
            }

            .custom-nav {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $color-active_regular;
                opacity: 0.2;
            }

            & > input:checked ~ .custom-nav {
                opacity: 1;
            }

            
        }

        
    }

    


}

.partners {
    @include flex (column);
    

    &__slogan {
        display: inline-block;
        width: 100%;
        text-align: center;
        
        padding-bottom: 30px;
        @include font-bold (14px, normal, $color-main);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__block {
        @include flex (row);
        width: 100%;

        &--hillel {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #1C4280;

        }

        &--wannabiz {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #143646;

        }

        &--tapgerine {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #F48B30;

        }

        &--3dlook {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #9E4DC3;

        }

        &--orangear {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #F48B30;

        }

        &--adtelligent {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #E2E2E4;

        }

        &--clickky {
            display: none;

        }

        &--ecolease {
            display: none;

        }

        &--infratek {
            display: none;

        }

        &--siti-park {
            display: none;

        }

        &--art-print{
           display: none;

        }

        &--ultimate-card {
            display: none;

        }

        
    }
    
}

.publications {
    @include flex (column);
    padding: 30px 30px 0;
    width: 100%;

    @import 'inheader';

    &__element {
        @include flex(row);
        justify-content: space-between;
        gap: 30px;
        padding-top: 30px;

        .publications-cart {
            @include flex(column, wrap);
            gap: 0;
            width: 100%;
            flex-grow: 2;
            gap: 0;

            &__img1 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/bac30771551944a6a99f95b6d5657e8e0ee495d7.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__img2 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/b300cdc34641c0243d6f7be0f81f6a06a7c57f59.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__img3 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/45df5b20cea39013922afb4b9a565b65431d7661.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__content {
                @include flex(column);
                
                
                padding: 30px;
                gap: 0;

                & > h2 {
                    @include font-bold (16px, normal, $color-active_regular);
                }

                & > h4 {
                    display: inline-block;
                    padding-bottom: 15px;
                    border-bottom: 2px solid $color-grey_separator;
                    @include font-bold (12px, normal, $color-grey_text);

                }

                & > p {
                    @include font-regular (14px, 22px, black);
                }
            }
        }
    }

}



footer {

    @include flex (column);
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 30px;

    #point {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-grey_text;
    }

    #point {
        display: none;
    }

    .footer-line {
        height: 2px;
        background-color: $color-grey_separator;
    }

    .footer-content {
        @include flex (column);
        justify-content: space-between;
        align-items: center;
        gap: 30px 0;
        
    }

    .footer-contact {
        @include flex (column);
        gap: 20px;
        
        &__location {
            @include flex (column);
            
            align-items: center;
            text-align: center;
            gap: 10px;
            
            
            

            & > a {
                @include font-bold (12px, normal, $color-active_regular);
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            & > .street {
                @include font-regular (16px, normal, $color-main);
            }

            

            // & > .shape {
            //     display: none;
            // }

            & > .map {
                text-decoration: none;
                cursor: pointer;
            }


        }

        &__social {
            @include flex (column);
            width: 100%;
            align-items: center;
            text-align: center;
            gap: 10px;

            & > .phone {
                @include font-bold (16px, normal, black);
            }

            & > .email {
                @include font-bold (16px, normal, $color-active_regular);
            } 
        }


    }

    .footer-article {
        @include flex (column);
        text-align: center;
        @include font-regular (16px,normal, $color-grey_text);
    }
}


@media screen and (min-width:375px) {
    
    header {
        padding: 50px 60px 0;

        .contacts {
            justify-content: start;
            background: none;
            gap: 6px;

            & > .street {
                display: inline;
            }

            #point {
                display: block;
            }

            & > svg {
                display: block;
            }
        }

        .menu {
            

            .logo {

                @include flex(column);
                align-items: start;
                padding: 15px 0 10px;
                gap: 30px;

                &-img {
                    @include flex(column);
                    
                    gap: 3px;

                    .logo__name {
                        width: 130px;
                        height: auto;
                        
                    }

                    .logo__subname {
                        width: 130px;
                        height: auto;
                        
                    }
                }

                &__slash {
                display: none;
                }

                &__nav--mobile {
                    display: none; 
                }

                &__nav {
                    @include  flex (row, wrap);
                    gap: 15px;

                    &-item {

                        & > a {
                            text-decoration: none;
                            @include font-bold(16px,normal, white);
                        }
                    }
                }
            }
            
            & > svg {
                display: none;
            }
        }

        
    }

    .main {

        padding: 0 60px 80px;

        .banner {
            height: 893.277px;
            padding-top: 489px;
            background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='489' height='589' viewBox='0 0 489 589' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.1362 0.744141H296.757C365.593 0.744141 423.041 30.1087 458.761 79.7295C494.455 129.353 495.556 212.152 474.741 276.927L448.129 359.623C437.016 394.152 384.978 557.451 374.83 588.999H244.106C244.106 588.999 246.105 590.75 355.307 251.297C364.949 221.341 370.454 172.716 355.307 151.687C340.186 130.66 314.671 118.216 280.912 118.216H85.0411C46.5814 118.216 12.4989 143.23 0.601074 180.175L57.1362 0.744141Z' fill='url(%23paint0_linear_173657_1514)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173657_1514' x1='411.77' y1='588.998' x2='87.1138' y2='227.198' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") bottom 0 left 194.6px,
                        url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='1024' viewBox='0 0 393 1024' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M64.3199 1024H-63.4736C45.2929 682.464 155.294 341.33 264.703 0H392.322C391.784 1.70706 391.239 3.41867 390.686 5.13468C213.654 549.846 274.042 365.893 64.3199 1024Z' fill='%23F0145A'/%3E%3C/svg%3E") bottom 0 left 0;
            background-repeat: no-repeat;

            & > h1 {
                text-wrap: wrap;
                max-width: 100%;
                padding: 0 30px;
            }
        }

        .content {

            &-block {

                padding: 60px 0;

                &__menu {
                    padding-bottom: 60px;
                }

                &__name + &__name--active {
                    font-size: 38px;
                }

                &__text {
                    padding-top: 60px;

                    & > h2 {
                        font-size: 30px;
                    }
                }
            }

            &-icons {
                justify-content: space-between;
                gap: 10px;

                .icon-item {
                    width: 100%;
                    max-width: 294px;
                    
                }
                
            }
        }
    }
    
    .photo-block {
        padding: 60px;
    }
    
    .partners {

        &__block {
             &--clickky {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #C71C36;

            }

            &--ecolease {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #DCF3F9;

            }

            &--infratek {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #EAEAEA;

            }

            &--siti-park {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #282240;

            }

            &--art-print{
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #1D4568;

            }

            &--ultimate-card {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #000000;

            }
        }

       
    }

    .publications {

        &__element {
            .publications-cart {
                width: 300px;
                flex-grow: 2;

            }
        }
    }

    footer {
        .footer-content {
            @include flex (row);
            align-items: start;

            .footer-contact {
                
                &__location {
                    @include flex (row);
                }
            }
        }
    }
    

    

}

@media screen and (min-width:768px) {

}



