@import 'reset',
        'variables',
        'mixin',
        'fonts';


        

@import './module/header';





.main {
    @include flex(column);
    width: 100%;
    position: relative;
    
    
    
}


.banner {
    position: relative;
    width: 100%;
    height: 600px;
    @include flex(column);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
    padding-bottom: 30px;
    // overflow: hidden;
    overflow-x: hidden;
    
    
    

    & > .bg {
        position: absolute;
        height: 100%;
        width: 523px;
        left: 0;
        bottom: 0;
        
        z-index: -1;
        background-origin: padding-box;
        background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='287' height='345' viewBox='0 0 287 345' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34.064 0.318359H174.467C214.8 0.318359 248.461 17.5241 269.391 46.5988C290.305 75.6751 290.951 124.19 278.755 162.144L263.162 210.599C256.65 230.831 226.159 326.514 220.213 344.999H143.617C143.617 344.999 144.788 346.025 208.773 147.127C214.423 129.575 217.649 101.083 208.773 88.7615C199.914 76.4412 184.964 69.1495 165.182 69.1495H50.4146C27.8796 69.1495 7.90936 83.806 0.937988 105.454L34.064 0.318359Z' fill='url(%23paint0_linear_173519_94)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173519_94' x1='241.857' y1='344.999' x2='51.629' y2='133.006' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")bottom left 76.94px,
                    url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='267' height='600' viewBox='0 0 267 600' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.601656 600H-74.2773C-10.547 399.881 53.9069 199.998 118.014 0H192.79C192.475 1.00023 192.156 2.00313 191.832 3.0086C88.1019 322.175 123.486 214.391 0.601656 600Z' fill='%23F0145A'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
    }
    
    

    & > h1 {
        @include font-bold(38px, normal, white);
        display: inline-block;
        // padding: 0 30px;
        max-width: 200px;
    }

    &__svg {
        @include flex;
        position: relative;
        width: 42px;
        height: 42px;
        cursor: pointer;

        &--show {
            display: block;
        }

        &--hidden {
            display: none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }
    }

    &__svg:hover > &__svg--show{
        display: none;
    }

    &__svg:hover > &__svg--hidden{
        display: block;
    } 
    
    
    
    
    
}
.content {
    @include flex (column);
    padding: 30px 30px 80px;
    
    width: 100%;

    &-block {
        @include flex (column);
        width: 100%;
        
        

        &__menu {
            @include flex (row, nowrap);
            
            max-width: 100%;
            overflow: auto;
            gap: 30px;
            padding-bottom: 30px;
            border-bottom: 4px solid  rgba(255, 255, 255, 0.30);
        }

        &__menu::-webkit-scrollbar {
            display: none;
        }

        &__item {
            display: inline-block;
            text-wrap: nowrap;

            input {
                display: none;
            }

            
        }

        &__name {
            display: inline-block;
            width: fit-content;
            @include font-bold (30px, normal, $color-grey_text);
            text-wrap: nowrap;
            transition: 0.5s;

            &--active {
                @include font-bold (30px, normal, transparent);
                background: $gradient-regular_redtext;
                background-clip: text;   
            }

            &:hover {
                @include font-bold (30px, normal, $color-accent);
                
            }
        }
        

        &__text {
            @include flex (column);
            padding-top: 30px;
            gap: 30px;
            
            & > h2 {
                @include font-bold (20px, normal, white);
            }

            & > p {
                @include font-regular (19px, 30px, white);
            }
        }
    }

    @import './module/icons';

}
.bg {
    @include flex(column);
    
    position: absolute;
    left: 0;
    z-index: -2;
    top:0;
    width: 100%;
    height: 100%;
    
    

    &__1 {
        @include flex (column);
        flex-grow: 2;
        width: 100%;
        background: $gradient-regular;
        background-attachment: fixed;
        border-radius: 0 0 12px 12px;
    }

    &__2 {
        
        width: 100%;
        padding-inline: 20px;
        height: 10px;

        &-color{
            width: 100%;
            height: 100%;
            background-color: #CACADB;
            border-radius: 0 0 12px 12px;
        }
        
        
        
        
    }

    &__3 {
        
        width: 100%;
        padding-inline: 40px;
        height: 10px;

        &-color{
            width: 100%;
            height: 100%;
            background-color: #E7E7F2;
            border-radius: 0 0 12px 12px;
        }
        
        
        
        
    }
}

.photo {
    @include flex (column);
    width: 100%;
    
    padding: 30px;

    .photo-block {
        @include flex (column);
        width: 100%;
        background-color: $color-grey_bg;
        border-radius: 12px;
        overflow: hidden;

        &__img {
        
        width: 100%;
        height: 500px;
        background: url(./images/index/footer/234600cc4c22f391feac373545e617135d41714b.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        
        }

        &__content {
            @include flex (column);
            align-items: start;
            padding: 30px;
            
            

            @import 'inheader';

            
            

            & > h2 {
                display: inline-block;
                padding: 30px 0 6px;
                @include font-bold (16px, normal, $color-grey_text);
                
                word-break: break-word;
            }

            & > span {
                @include font-regular (14px, 22px, $color-grey_text);
            }
            

            
        }
    
    }

    

    &__nav {
        @include flex(row, nowrap);
        width: 100%;
        padding-top: 30px;
        justify-content: center;
        gap: 10px;

        & > label {
            @include flex (row);

            & > input {
                display: none;
            }

            .custom-nav {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $color-active_regular;
                opacity: 0.2;
            }

            & > input:checked ~ .custom-nav {
                opacity: 1;
            }

            
        }

        
    }

    


}



.partners {
    @include flex (column);
    padding-top: 60px;
    

    &__slogan {
        display: inline-block;
        width: 100%;
        text-align: center;
        
        padding-bottom: 30px;
        @include font-bold (14px, normal, $color-main);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__block {
        @include flex (row);
        width: 100%;

        &--hillel {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #1C4280;

        }

        &--wannabiz {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #143646;

        }

        &--tapgerine {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #F48B30;

        }

        &--3dlook {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #9E4DC3;

        }

        &--orangear {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #F48B30;

        }

        &--adtelligent {
            @include flex (row);
            width: 217px;
            flex-grow: 2;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color:  #E2E2E4;

        }

        &--clickky {
            display: none;

        }

        &--ecolease {
            display: none;

        }

        &--infratek {
            display: none;

        }

        &--siti-park {
            display: none;

        }

        &--art-print{
           display: none;

        }

        &--ultimate-card {
            display: none;

        }

        
    }
    
}

.publications {
    @include flex (column);
    padding: 30px 30px 0;
    width: 100%;
    background-color: $color-grey_bg;

    @import 'inheader';

    &__element {
        @include flex(row);
        justify-content: space-between;
        
        gap: 30px;
        padding-top: 30px;

        .publications-cart {
            @include flex(column, wrap);
            gap: 0;
            width: 100%;
            
            flex-grow: 1;
            gap: 0;
            background-color: white;

            &__img1 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/bac30771551944a6a99f95b6d5657e8e0ee495d7.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__img2 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/b300cdc34641c0243d6f7be0f81f6a06a7c57f59.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__img3 {
                width: 100%;
                height: 200px;
                background: url(./images/index/publications/45df5b20cea39013922afb4b9a565b65431d7661.png);
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 8px 8px 0 0;
            }

            &__content {
                @include flex(column);
                
                
                padding: 30px;
                gap: 0;

                & > h2 {
                    @include font-bold (16px, normal, $color-active_regular);
                }

                & > h4 {
                    display: inline-block;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 2px solid $color-grey_separator;
                    @include font-bold (12px, normal, $color-grey_text);

                }

                & > p {
                    padding-top: 15px;
                    @include font-regular (14px, 22px, black);
                }
            }
        }
    }

}


@import './module/footer';



@media screen and (min-width:375px) {
    
    

    .main {

        

        .banner {
            
            height: 1024px;
            
            

            & > .bg {
                
                width: 893px;
                left: 0;
                bottom: 0;
                
                z-index: -1;
                
                background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='489' height='589' viewBox='0 0 489 589' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M57.1362 0.744141H296.757C365.593 0.744141 423.041 30.1087 458.761 79.7295C494.455 129.353 495.556 212.152 474.741 276.927L448.129 359.623C437.016 394.152 384.978 557.451 374.83 588.999H244.106C244.106 588.999 246.105 590.75 355.307 251.297C364.949 221.341 370.454 172.716 355.307 151.687C340.186 130.66 314.671 118.216 280.912 118.216H85.0411C46.5814 118.216 12.4989 143.23 0.601074 180.175L57.1362 0.744141Z' fill='url(%23paint0_linear_173680_1514)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173680_1514' x1='411.77' y1='588.998' x2='87.1138' y2='227.198' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")bottom left 194px,
                            url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='393' height='1024' viewBox='0 0 393 1024' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M64.3199 1024H-63.4736C45.2929 682.464 155.294 341.33 264.703 0H392.322C391.784 1.70706 391.239 3.41867 390.686 5.13468C213.654 549.846 274.042 365.893 64.3199 1024Z' fill='%23F0145A'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
            }

            & > h1 {
                text-wrap: wrap;
                max-width: 100%;
                padding: 0 30px;
            }
        }

        .content {
            padding: 60px 60px 80px;

            &-block {

                

                &__menu {
                    padding-bottom: 60px;
                }

                &__name + &__name--active {
                    font-size: 38px;
                }

                &__text {
                    padding-top: 60px;

                    & > h2 {
                        font-size: 30px;
                    }
                }
            }

        }
    }
    
    .photo {
        padding: 60px;
    }
    
    .partners {

        &__block {
             &--clickky {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #C71C36;

            }

            &--ecolease {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #DCF3F9;

            }

            &--infratek {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #EAEAEA;

            }

            &--siti-park {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #282240;

            }

            &--art-print{
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #1D4568;

            }

            &--ultimate-card {
                @include flex (row);
                width: 217px;
                flex-grow: 2;
                height: 120px;
                justify-content: center;
                align-items: center;
                background-color:  #000000;

            }
        }

       
    }

    .publications {

        &__element {

            .publications-cart {
                width: 280px;
                

            }
        }
    }

    
    

    

}

@media screen and (min-width:768px) {
    

    .main {

        .banner {
            
            height: 768px;
            
            
            & > .bg {
                
                width: 670px;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                
                z-index: -1;
                
                background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='367' height='442' viewBox='0 0 367 442' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M42.602 0.808594H222.318C273.944 0.808594 317.031 22.832 343.821 60.0476C370.591 97.2653 371.417 159.364 355.806 207.946L335.847 269.968C327.512 295.865 288.483 418.339 280.872 442H182.829C182.829 442 184.328 443.313 266.23 188.723C273.461 166.257 277.591 129.788 266.23 114.016C254.889 98.2458 235.753 88.9124 210.434 88.9124H63.5307C34.6859 88.9124 9.12405 107.673 0.200684 135.382L42.602 0.808594Z' fill='url(%23paint0_linear_173680_2368)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173680_2368' x1='308.577' y1='441.999' x2='65.0852' y2='170.649' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")bottom left 194px,
                            url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='342' height='768' viewBox='0 0 342 768' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.4901 768H-0.35498C81.2199 511.848 163.721 255.997 245.777 0H341.491C341.088 1.2803 340.679 2.564 340.265 3.85101C207.49 412.384 252.782 274.42 95.4901 768Z' fill='%23F0145A'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
            }
            
            

        }
        .content {
            &-block {
                @include flex (row, nowrap);
                width: 100%;
                align-content: center;
                justify-content: center;

                &__menu {
                    @include flex (column, nowrap);
                    width: 100%;
                    overflow: visible;
                    padding-bottom: 15px;
                    padding-top: 15px;
                    align-items: end;
                    padding-right: 60px;
                    flex-grow: 2;
                    justify-content: space-between;
                    border-bottom: none;
                    border-right: 4px solid  rgba(255, 255, 255, 0.30);
                }

                &__text {
                    padding-top: 0;
                    padding-left: 60px;
                }
            }

           
        }
    }
    .photo {
        .photo-block {
            @include flex (row,nowrap);
            width: 100%;

            &__img {
                max-width: 400px;
                height: auto;
            }

            &__content {
                width: 100%;
            }
        }
    }

}

@media screen and (min-width:1024px) {
    
     .partners {

            &__block {

                &--hillel {
                    width: 256px;
                }

                &--wannabiz {
                   width: 256px;

                }

                &--tapgerine {
                   width: 256px;
                }

                &--3dlook {
                   width: 256px;
                }

                &--orangear {
                    width: 256px;
                }

                &--adtelligent {
                  width: 256px;
                }

                &--clickky {
                    width: 256px;
                }

                &--ecolease {
                    width: 256px;

                }

                &--infratek {
                    width: 256px;

                }

                &--siti-park {
                    width: 256px;

                }

                &--art-print{
                width: 256px;
                }

                &--ultimate-card {
                    width: 256px;

                }
        }
    }
    

    
}

@media screen and (min-width:1440px) {

    .partners {

            &__block {

                &--hillel {
                    width: 360px;
                }

                &--wannabiz {
                    width: 360px;

                }

                &--tapgerine {
                   width: 360px;
                }

                &--3dlook {
                   width: 360px;
                }

                &--orangear {
                    width: 360px;
                }

                &--adtelligent {
                  width: 360px;
                }

                &--clickky {
                    width: 360px;
                }

                &--ecolease {
                    width: 360px;

                }

                &--infratek {
                    width: 360px;

                }

                &--siti-park {
                    width: 360px;

                }

                &--art-print{
                width: 360px;
                }

                &--ultimate-card {
                    width: 360px;

                }
        }
    }
    

}

@media screen and (min-width:1920px) {

    .main {
        .banner {

            height: 1000px;
            

            & > .bg {

                width: 872px;
                background: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='477' height='575' viewBox='0 0 477 575' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M55.7736 0.53125H289.779C357.001 0.53125 413.103 29.2075 447.986 77.6654C482.843 126.126 483.918 206.984 463.591 270.241L437.603 350.999C426.75 384.719 375.932 544.19 366.021 574.999H238.361C238.361 574.999 240.313 576.709 346.956 245.212C356.372 215.958 361.748 168.473 346.956 147.936C332.189 127.403 307.273 115.25 274.304 115.25H83.0245C45.4661 115.25 12.1824 139.677 0.563477 175.757L55.7736 0.53125Z' fill='url(%23paint0_linear_173680_1626)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_173680_1626' x1='402.095' y1='574.998' x2='85.0486' y2='221.678' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F0145A'/%3E%3Cstop offset='1' stop-color='%23693264'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")bottom left 251.56px,
                    url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='445' height='1000' viewBox='0 0 445 1000' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M124.336 1000H-0.462402C105.755 666.469 213.178 333.33 320.023 0H444.65C444.125 1.66705 443.593 3.33854 443.053 5.01434C270.17 536.959 329.143 357.318 124.336 1000Z' fill='%23F0145A'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
            }
        }
    }

    .partners {
        padding: 0 100px;
        margin-bottom: 60px;
    }
}




