@import '../reset',
        '../variables',
        '../mixin',
        '../fonts';

footer {
    @include flex;
    justify-content: center;
    background-color: $color-grey_bg;
}

.footer-wrraper {

    @include flex (column);
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    padding: 0 30px 30px;
    

    #point {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-grey_text;
    }

    #point {
        display: none;
    }

    .footer-line {
        height: 2px;
        background-color: $color-grey_separator;
    }

    .footer-content {
        @include flex (column);
        justify-content: space-between;
        align-items: center;
        gap: 30px 0;
        
    }

    .footer-contact {
        @include flex (column);
        gap: 20px;
        
        &__location {
            @include flex (column);
            
            align-items: center;
            text-align: center;
            gap: 10px;
            
            
            

            & > a {
                @include font-bold (12px, normal, $color-active_regular);
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            & > .street {
                @include font-regular (16px, normal, $color-main);
            }

            

            // & > .shape {
            //     display: none;
            // }

            & > .map {
                text-decoration: none;
                cursor: pointer;
            }


        }

        &__social {
            @include flex (column);
            width: 100%;
            align-items: center;
            text-align: center;
            gap: 10px;

            & > .phone {
                @include font-bold (16px, normal, black);
            }

            & > .email {
                @include font-bold (16px, normal, $color-active_regular);
            }

            & > .email:hover {
                @include font-bold (16px, normal, $color-accent);
            } 
        }

        &__svg {
            width: 38px;
            height: 38px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' fill='none'%3E%3Cg clip-path='url(%23clip0_22721_8205)'%3E%3Cpath d='M38 19.1161C38 8.55857 29.4934 0 19 0C8.50658 0 0 8.55857 0 19.1161C0 28.6575 6.94803 36.5659 16.0312 38V24.6419H11.207V19.1161H16.0312V14.9046C16.0312 10.1136 18.8678 7.46723 23.2078 7.46723C25.2866 7.46723 27.4609 7.84059 27.4609 7.84059V12.545H25.0651C22.7048 12.545 21.9688 14.0185 21.9688 15.5302V19.1161H27.2383L26.3959 24.6419H21.9688V38C31.052 36.5659 38 28.6575 38 19.1161Z' fill='%2324A3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_22721_8205'%3E%3Crect width='38' height='38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        }

        &__svg:hover {
            width: 38px;
            height: 38px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38' fill='none'%3E%3Cg clip-path='url(%23clip0_173710_2354)'%3E%3Cpath d='M38 19.1161C38 8.55857 29.4934 0 19 0C8.50658 0 0 8.55857 0 19.1161C0 28.6575 6.94803 36.5659 16.0312 38V24.6419H11.207V19.1161H16.0312V14.9046C16.0312 10.1136 18.8678 7.46723 23.2078 7.46723C25.2866 7.46723 27.4609 7.84059 27.4609 7.84059V12.545H25.0651C22.7048 12.545 21.9688 14.0185 21.9688 15.5302V19.1161H27.2383L26.3959 24.6419H21.9688V38C31.052 36.5659 38 28.6575 38 19.1161Z' fill='%23F0145A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_173710_2354'%3E%3Crect width='38' height='38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
        }


    }

    .footer-article {
        @include flex (column);
        text-align: center;
        @include font-regular (16px,normal, $color-grey_text);
    }
} 

@media screen and (min-width:375px) {
    .footer-wrraper {

       padding: 0 60px 60px;

        .footer-content {
            @include flex (row);
            align-items: start;

            .footer-contact {
                
                &__location {
                    @include flex (row);
                     #point {
                        display: block;
                    }
                }

                &__social {
                    @include flex (row);

                    #point {
                        display: block;
                    }

                    .phone {
                        text-wrap: nowrap;
                    }
                }
            }

            .footer-article {
                text-wrap: nowrap;
            }
        }
    }
}

@media screen and (min-width:1920px) {

    .footer-wrraper {
        max-width: 1600px;
        
    }
}