@import '../reset',
        '../variables',
        '../mixin',
        '../fonts';

.icons {
    @include flex (column);
    max-width: 100%;
    padding-top: 30px;
    gap: 30px;

    @import '../inheader';

    &__wrapping {
        @include flex (row);
        justify-content: space-between;
    }

    .icon-item {
        @include flex (column);
        max-width: 100%;
        align-items: start;
        padding-top: 30px;
        gap: 30px;

        &__img {
            width: 92px;
            height: 92px; 
            background-color: white;
            border-radius: 24px;
            position: relative;

            & > img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        &__txt {
                @include flex (column);
                gap: 15px;

                &-header {
                    @include font-bold(22px, normal, $color-active_regular);
                    cursor: pointer;
                    text-wrap: wrap;
                    transition: .3s;
                }

                &-header:hover {
                    @include font-bold(22px, normal, $color-accent);
                }

                &-p {
                    @include font-regular (16px, 26px, white);
                    text-wrap: wrap;
                }
        }
    }
} 

@media screen and (min-width:375px) {
    .icons {
        
        &__wrapping {
            justify-content: center;
    
            gap: 60px;
        }

        .icon-item {
           
           max-width: 294px;
            
        }
        
    }
}

@media screen and (min-width:1024px) {
    .icons {

        &__wrapping {
            justify-content: space-between;

            .icon-item {
                max-width:  291px;
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .icons {

        &__wrapping {
            justify-content: space-between;

            .icon-item {
                max-width:  400px;
            }
        }
    }
}

@media screen and (min-width:1920px) {
    .icons {

        max-width: 1600px;
        margin: auto;
        padding-inline: 0;

        &__wrapping {

            .icon-item {
                max-width:  493px;
                
            }
        }
    }
}